@import url("http://fonts.googleapis.com/css?family=Lato");
body {
    font-family: 'Lato', sans-serif;
    color: #000;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

p {
    margin-bottom: 0.5ex;
    font-size: 12px;
}
.footnote {
    font-size: 12px;
    padding-bottom: 1em;
}

.links {
    margin-bottom: 1em;
    text-transform: uppercase;
}
a {
    color: #000;
    font-size: 12px;
    padding-right: 40px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.urban{
    color: #1696d2;
    float: right;
    padding-right: 2px;
    text-transform: uppercase;
}

#map {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    min-width: 350px;
}

.counties {
    fill: none;
    stroke: none;
}

path:hover {
    stroke: #fcb918;
    opacity: 1;
    stroke-width: 3px;
    cursor: pointer;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    pointer-events: none;
}

.county-name {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
}

.urban-map-tooltip {
    padding: 10px;
    background-color: #fff;
    color: #333;
    opacity: 0.85;
    border: 1px solid #aaa;
    pointer-events: none;
}

#legend,
.legend {
    margin-left: auto;
    margin-right: auto;
    display: table;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: -40px;
}

.legend-item {
    float: left;
    margin-right: 2px
}

